.container {
    -fx-background-color: transparent;
    -fx-padding: 20;
}

.main-pane {
    -fx-effect: dropshadow(two-pass-box, rgba(0, 0, 0, 0.8), 40, 0, 0, 0);
}

.label {
    -fx-font-size: 18px;
}